<div class="col-md-12">
  <div class="post">

    <%= link_to("回到文章列表", account_posts_path, class: "btn btn-primary") %>

    <%= link_to("修改文章", edit_account_post_path(@post), class: "btn btn-primary") %>

  </div>

  <h3>
    <%= @post.title %>
  </h3>
  <h4>
    <%= @post.created_at.strftime("%Y-%b-%d   %H:%M") %>
  </h4>
  <h5>
     分享本作品 建立影响力<%= social_share_button_tag(@post.title, :allow_sites => %w(wechat weibo)) %>
  </h5>
  <p>
    <%= simple_format(@post.content) %>
  </p>
</div>

<div>
  <% if @post.is_set_as_model%>
    <%= simple_form_for [:account, @post] do |f| %>
      <%= f.association :post_example, collection: current_user.posts.is_example %>
      <%= f.submit "选为本模版范例", data: { disable_with: "Submitting..." }, class: "btn btn-info" %>
    <% end %>
  <% end  %>
</div>
