<div class="col-md-12">
  <div class="post">

    <%= link_to("回到文章列表", foreground_posts_path, class: "btn btn-primary") %>

  </div>

  <h3>
    <%= @post.title %>
  </h3>
  <h4>
    <%= @post.created_at.strftime("%Y-%b-%d   %H:%M") %>
  </h4>
  <h5>
    转发价值文章 共享进步快乐<%= social_share_button_tag(@post.title, :allow_sites => %w(wechat weibo)) %>
  </h5>
  <p>
    <%= simple_format(@post.content) %>
  </p>
</div>